
 <%- include("head") %>
  <body class="container">
    <!-- Header section -->
    <%- include("header") %>
    <!-- showcase section -->
    <section class="showcase">
      <div class="showcase__content">
        <h1 class="showcase__content--title">Commit To Jesus<br><span>Welcome To Riverside</span></h1>
        
        <div class="showcase__content--links">
          <a href="/tithes">Find out more</a>
        </div>
      </div>
    </section>
    <!-- motto section -->
    <section class="motto">
      <!-- Content 1 -->
      <div class="motto__content">
        <!-- <i class="fab fa-accessible-icon icons"></i> -->
        <h2 class="motto__content--title">Church's Mission</h2>
        <p class="motto__content--para">
          Pay attention to what you are taught and you will be successful, trust
          in the Lord and you will be happy.
        </p>
        <a href="#" class="motto__content--link">
          <span></span><span></span><span></span><span></span>
          Find Out More
        </a>
      </div>
      <!-- Content 2 -->
      <div class="motto__content">
        <!-- <i class="fas fa-dumbbell icons"></i> -->
        <h2 class="motto__content--title">Church's Vision</h2>
        <p class="motto__content--para">
          For God so loved the world, that he gave his only begotten son, that
          whoever believes in Him shall not perish but have everlasting life.
        </p>
        <a href="#" class="motto__content--link">
          <span></span><span></span><span></span><span></span>
          Find Out More
        </a>
      </div>
    </section>

    <!-- Gallery Text -->
<section class="gallery-text">
  <div class="gallery-text__content">
    <h2 class="gallery-text__content--title">Gallery</h2>
  </div>
</section>



<section class="slider">
      
      <!-- Image Container -->
      <div class="slider__img-container">
        <ul class="slider__img-container--list">
          <li class="slider__img-container--list__item current--img">

            <img src="/img/Gallery/<%= images[0]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Lorem ipsum dolor sit amet.</h2>
              <p class="slider__img-container--list__item--content__para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi laudantium veritatis fugiat dicta voluptatem corrupti laborum sapiente itaque sed dolor!</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[1]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[2]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[3]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[4]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[5]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[6]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[7]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item">
            <img src="/img/Gallery/<%= images[8]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
          <li class="slider__img-container--list__item ">
            <img src="/img/Gallery/<%= images[9]%>" alt="villa" />
            <div class="slider__img-container--list__item--content">
              <h2 class="slider__img-container--list__item--content__title">Heading</h2>
              <p class="slider__img-container--list__item--content__para">Paragraph content</p>
            </div>
          </li>
        </ul>
        <!-- Button Left -->
      <button class="slider__btn slider__btn--left">
        <i class="icons fas fa-caret-left"></i>
      </button>
        <!-- Button Right -->
        <button class="slider__btn slider__btn--right">
          <i class="icons fas fa-caret-right"></i>
        </button>
       
      </div>
    </section>

    <!-- Coordinators section -->
    
    <!-- Testimonials section -->
    <section class="testimonials">
      <h2 class="testimonials__title">Members</h2>
      <div class="testimonials__content">
        <!-- Sliders -->
        <div class="testimonials__content--slider">
          <!-- Slide 1 -->
          <div class="testimonials__content--slider__slide active">
            <p class="testimonials__content--slider__slide--para">
              
              <%= dispMembers[0].member_opinion %> 
            </p>
            <h3 class="testimonials__content--slider__slide--title">
              
             <%= dispMembers[0].member_name %> 
            </h3>
          </div>
          <!-- Slide 2 -->
          <div class="testimonials__content--slider__slide">
            <p class="testimonials__content--slider__slide--para">
              
              <%= dispMembers[1].member_opinion %>
            </p>
            <h3 class="testimonials__content--slider__slide--title">
              <%= dispMembers[1].member_name %>
            </h3>
          </div>
          <!-- Slide 3 --> -->
          <div class="testimonials__content--slider__slide"> 
            <p class="testimonials__content--slider__slide--para">
              
              <%= dispMembers[2].member_opinion %>
            </p>
            <h3 class="testimonials__content--slider__slide--title">
              
              <%= dispMembers[2].member_name %>
            </h3>
          </div> 
        </div>

        <!-- Indicator -->
        <div class="testimonials__content--indicator"> 
          <img
            src="/img/testimonials/testimonial-1.jpg"
            alt="testimonial-1"
            class="testimonials__content--indicator__img active"
            data-id="0"
          /><img
            src="/img/testimonials/testimonial-2.jpg"
            alt="testimonial-2"
            class="testimonials__content--indicator__img"
            data-id="1"
          /><img
            src="/img/testimonials/testimonial-1.jpg"
            alt="testimonial-3"
            class="testimonials__content--indicator__img"
            data-id="2"
          />
        </div>
      </div>
     
    </section>
    
    <!-- Scroll to top button -->
    <div class="scroll"></div>
   
    <%- include("footer") %>
  </body>
</html>
