 <%- include("head") %>
  <body class="container">
    <!-- Header section -->
    <%- include("header") %>
<main class="modify">
  <h2 class="modify__heading">Modify or Delete</h2>
  <% for(let event of events){%>
  <div class="modify__content">
    <h2 class="modify__content--title"><%= event.event_title %></h2>
    <h2 class="modify__content--title"><%= event.event_date %></h2>
    <input type="text" class="Id" value="<%= event._id%>" hidden>
    <a class="modify__content--link" href="/editEvents/<%= event._id %>">Edit</a>
   <a class="modify__content--link delete" href="#">Delete</a>
  </div>
  <%}%>
</main>

    <%- include("footer") %>
  </body>
</html>